body {
  padding-top: 1rem;
  color: #67707c;
  background-color: #D3DADE;

}
.app {
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding: 1.25rem;
}